.container-profile{
    margin: 0 auto;
    width: 600px;
    max-width: 95vw;
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
}

.profile-container-main{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-name{
    font-size: 24px;
}

.profile-state{
    font-size: 14px;
    width: 100px;
    margin: 0 auto;
    font-weight: 500;
    border-radius: 10px;
}

.profile-state-send{
    font-size: 14px;
    width: 220px;
    margin: 0 auto;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-encargue{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5)
}

.profile-call{
    display: flex;
    width: 220px;
    margin: 15px auto;
    align-items: center;
    background-color: #00000066;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    justify-content: center;
    font-size: 15px;
}

.profile-select {
    display: flex;
    width: 263px;
    color: rgba(255, 255, 255, 0.5);
    margin: 15px auto;
    align-items: center;
    background-color: #00000066;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    justify-content: center;
    font-size: 15px;
}

.profile-call:hover{
  opacity: .8;
}

.profile-container-place input{
    color: rgba(255, 255, 255, 0.801);
}

.container-button-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-button-profile .button{
    margin: 5px 0;
}